
.container {
    padding: var(--standard-margin);
    
    display: flex;
    align-items: center;
    justify-content: center;
}


.centeredContent {
    text-align: center;
    line-height: 200px;
    width: 200px;
    height: 200px;
}